.table-striped tr{
    color:#fff;
}

.table-striped thead tr{
    background: #232;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd){
    background: #94163F;
    color:#fff;
}

.table-striped tbody tr:nth-of-type(odd):hover{
    background: #AF163F;
    color:#fff;
}


.table-striped tbody tr:nth-of-type(even){
    background: #FFCA5B;
    color:#232;
}

.table-striped tbody tr:nth-of-type(even):hover{
    background: #FFCA5B;
    color:#fff;
}