<form name="editTeamName" *ngIf="selectedTeam" >
  <h2>Edit Team</h2>
  <div class="form-group">
    <label for="teamName">TeamName</label>
    <input type="text" class="form-control" [(ngModel)]="selectedTeam.teamName" name="teamName" id="teamName" placeholder="Enter Team Name" />
  </div>
  <div class="form-group">
      <label for="wins">Wins</label>
      <input type="text" class="form-control" name="wins" id="wins" placeholder="Enter Number Of wins" [(ngModel)]="selectedTeam.numberOfWins" />
    </div>
    <div class="form-group">
        <label for="losses">Losses</label>
        <input type="text" class="form-control" name="losses" id="losses" placeholder="Enter Number Of losses" [(ngModel)]="selectedTeam.numberOfLosses" />
    </div>
    <button class="btn btn-primary pull-right" (click)="saveTeam()">Kaydet</button>
</form>